* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#busqueda {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  height: 50px;
  gap: 10px;
}

#searchInput{
	border-radius: 10px;
}
input {
  padding-left: 10px;
}

button {
	background-color:rgb(186, 144, 206);
	width: 70px;
	border-radius: 10px;
}
.contenedor .pelicula .a {
  display: flex;
}

a {
  text-decoration: none;
  background: gray;
  display: flex;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #e0e0e0;
  color: #1d1d1d;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 100px auto;
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.contenedor .pelicula {
  display: grid;
  justify-items: center;
  align-content: space-between;
}

.contenedor .pelicula .titulo {
  font-size: 16px;
  font-weight: 600;
}

.contenedor .pelicula .poster {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 15px;
}

.paginacion {
  position: fixed;
  bottom: 0;
  background: #100a1f;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.paginacion button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  width: 150px;
  background: #241744;
  color: #fff;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: 0.3s ease all;
}

.paginacion button:hover {
  background: #298b47;
}
